/* Scss Document */

$unsemantic-ie7-support: false;
$container-max-width: 960px;

@import "unsemantic/reset.scss";
@import "unsemantic/unsemantic-grid-responsive";

$color-hr: rgba(48, 51, 54, 0.25);
$color-text: #303336;
$color-text-light: rgba(48, 51, 54, 0.75);
$color-background: #F0F2F6;

// Mixins

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transform($transform...) {
	-webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

// Defaults

body {
	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, "sans-serif";
	font-size: 18px;
	color: $color-text;
	background: $color-background;
}

h2 {
	font-size: 35px;
	text-align: center;
}

h3 {
	font-weight: bold;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: $color-text;
	
	&.block {
		text-align: center;
	}
}

footer {
	margin-top: 100px;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	color: $color-text-light;
}

// Components

.img-rounded {
	img {
		display: block;
		margin: 0 auto;
		border-radius: 50%;
		border: 5px solid white;
		box-shadow: 0 5px 20px rgba(0,0,0,0.25);
		@include transition(0.5s ease-in-out);
		margin-bottom: 20px;
	}
	
	&:hover {
		img {
			box-shadow: 0 10px 40px rgba(0,0,0,0.125);
			@include transform(scale(1.05));
		}
	}
}

.site-title {
	line-height: 50px;
	font-weight: bold;
}

// Utility

.left {
	text-align: left;
}
.right {
	text-align: right;
}

.border-top {
	border-top: 1px solid $color-hr;
}

.border-bottom {
	border-bottom: 1px solid $color-hr;
}

.margin-top-50 {
	margin-top: 50px;
	@media screen and (max-width: $media-mobile-max) {
		margin-top: 25px;
	}
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-top-200 {
	margin-top: 200px;
	@media screen and (max-width: $media-mobile-max) {
		margin-top: 100px;
	}
}

.mobile-margin-top-50 {
	@media screen and (max-width: $media-mobile-max) {
		margin-top: 50px;
	}
}