/* Scss Document */

$unsemantic-ie7-support: false;
$container-max-width: 960px;

@import "unsemantic/reset.scss";
@import "unsemantic/unsemantic-grid-responsive";

$color-hr: rgba(48, 51, 54, 0.25);

// Defaults

body {
	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, "sans-serif";
	font-size: 18px;
	color: #303336;
	background: #F0F2F6;
}

// Components

.site-title {
	line-height: 50px;
	font-weight: bold;
}

.border-bottom {
	border-bottom: 1px solid $color-hr;
}